.button {
  @include reset_button();

  display: inline-block;
  border: 2px solid var(--primary-color);
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: bold;
  color: $white;
  background-color: var(--primary-color);

  @include breakpoint(large) {
    font-size: 20px;
  }

  &:hover {
    color: var(--primary-color);
    background-color: $white;
  }

  &--error {
    background-color: var(--error-color);
    border: 2px solid var(--error-color);

    &:hover {
      color: var(--error-color);
      background-color: $white;
    }
  }

  &--active {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    transition: none;

    i {
      transition: none;
    }

    &:hover {
      color: $white;
      background-color: var(--secondary-color);
    }
  }
}