.details {
  &__button {
    display: flex;
    justify-content: flex-start;

    .button:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__qrcode {
    max-width: 200px;
    margin: 0 auto 20px;
  }

  &__qrcode-print {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}