.form-login {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__error {
    font-weight: bold;
    color: red;
  }
}
