.page-wrap {
  margin: 0 auto;
  width: 100%;
  padding: 20px 20px 100px;
  max-width: 1200px;

  &__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__category {
    display: flex;
    margin-bottom: 20px;
  }

  &__menu-item {
    padding: 0;
  }

  &__action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__qrcode {
    max-width: 200px;
    margin: 0 auto 20px;
  }

  &__qrcode-print {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__back {
    margin-bottom: 30px;
  }

  &__total {
    margin: 20px 0;
    font-weight: bold;
  }
}