.table {
  border: 1px solid $gray;
  padding: 10px;
  background-color: var(--success-color);

  &--close {
    background-color: var(--error-color);

  }

  &__title {
    margin: 0;
    text-align: center;
  }
}
