:root {
  --app-height: 100%;
}

html {
  box-sizing: border-box;
  height: 100vh;
  height: var(--app-height);
  //scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  transition: color 0.5s ease-out, background-color 0.5s ease-out, border-color 0.5s ease-out;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  position: relative;
  margin: 0;
  color: var(--text-color);
  font-family: $fonts;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  letter-spacing: 0.03em;

  @include breakpoint(large) {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

picture {
  display: block;
}

picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}