:root {
  --background-color: #fff;
  --primary-color: #835eec;
  --secondary-color: #C7EC5E;
  --washed-primary-color: #C7EC5E94;
  --text-color: #646464;
  --text-over-accent: #fff;

  --open-color: #bfffbf;
  --close-color: #f6a3a3;

  --svg-primary-filter: invert(47%) sepia(81%) saturate(801%) hue-rotate(218deg) brightness(100%) contrast(85%);
  --svg-secondary-filter: invert(83%) sepia(8%) saturate(2461%) hue-rotate(30deg) brightness(99%) contrast(109%);
  --svg-text-filter: invert(40%) sepia(13%) saturate(0%) hue-rotate(218deg) brightness(89%) contrast(84%);
  --svg-white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(103%) contrast(103%);
}