:root {
  --background-color: #f5efedff;
  --primary-color: #2292a4ff;
  --secondary-color: #bdbf09ff;
  --text-color: #0f0a0aff;

  --error-color: #d96c06ff;
  --warning-color: #bdbf09ff;
  --info-color: #0f0a0aff;
  --success-color: #2292a4ff;
}